{% extends "base.html" %}
{% block content %}
<h2>数据概览</h2>
<div class="row mt-4">
    <div class="col-md-6">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">总用户</div>
            <div class="card-body">
                <h1 class="card-title">{{ stats.users }}</h1>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-white bg-success mb-3">
            <div class="card-header">今日打卡</div>
            <div class="card-body">
                <h1 class="card-title">{{ stats.online }}</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}
